<div class="users-container">
        <div class="user-container" *ngFor="let user of users">
            <div class="user-name">{{user.name}}</div>
            <div class="user-email">{{user.email}}</div>
            <div class="user-phone">{{user.phone}}</div>
            <div class="admin-action">
                <div *ngIf="admin" (click)='onUpdate(user._id)' class="update">update</div>
                <div *ngIf="admin" (click)='onDelete(user._id)' class="delete">delete</div>
            </div>
        </div>
</div>
