<section class="app-header-wrapper">
    <div class="app-header main-layout flex align-center">
        <p class="logo">Users</p>
        <nav>
            <ul class="clean-list flex">
                <li><a routerLink="" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Home</a></li>
                <li><a routerLink="contact" routerLinkActive="active">Contacts</a></li>
                <li><a routerLink="login" routerLinkActive="active">Login</a></li>
            </ul>
        </nav>
    </div>
</section>